{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>OpenBudget Durban</title>
  <script src="{% static 'webapp/jquery.min.js' %}" charset="utf-8"></script>
  <script src="{% static 'webapp/lodash.min.js' %}" charset="utf-8"></script>
  <script src="{% static 'webapp/d3.v3.min.js' %}" charset="utf-8"></script>
  <link rel="stylesheet" href="{% static 'webapp/bootstrap.min.css' %}" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="{% static 'webapp/bootstrap.min.js' %}" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'webapp/styles.css' %}" media="screen" title="no title" charset="utf-8">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Expenditure</h2>
        <svg id="expenditure" class="chart"></svg>
      </div>
      <div class="col-md-6">
        <h2>Revenue</h2>
        <svg id="revenue" class="chart"></svg>
      </div>
    </div>
  </div>
  <script src="{% static 'webapp/graphs.js' %}" charset="utf-8"></script>
  <script type="text/javascript">
    Promise.resolve($.ajax("/api/budget/sections.json", {
        data: {
          year: "2014/2015"
        }
      }))
      .then(function(response) {
        var expenditure = _.map(response.results, function(val) {
          return [val.title, val.expenditure];
        });
        var revenue = _.map(response.results, function(val) {
          return [val.title, val.revenue];
        });
        pieChart("#expenditure", expenditure);
        pieChart("#revenue", revenue)
      })
      .then(function(data) {}, function(error) {
        console.log(error);
      });
  </script>
</body>

</html>
